<a href="/api/blog/blogComments/{{id}}">
<div class="blog-wrapper>">
    <p>{{title}}       Posted by {{user.username}} on {{format_date createdAt}}</p>
    <div class="bodyOfBlog">
        {{contents}}
    </div>
</div>
</a>